body {
    margin: 30px;
    background-color: #040e14;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #f8f1e9;
}

.col-sm-2 {
  width: 250px;
}

.container {
  margin-left: 15px;
}

.row {
  padding-bottom: 15px;
}

nav {
  font-family: 'VT323', monospace;
  font-stretch: 10;
  font-size: 30px;
  margin-left: 30px;
}

nav:link {
  color: #9999ee;
}

.background {
  color: #9999ee;
}
